.main-content {
  padding-bottom: 50px;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: #446CB2;
  border-top: 1px solid #eeeeee;
  text-align: center;
}
